<style>
:root {
--brand-color: #41CBBF;
--dark-color: #164E63;
--mid-color: #BEC9DF;
--light-color: #F8FAFC;
  }</style>  
  .p1 {
  font-family: "Times New Roman", Times, serif;
  .p2 {
  font-family: Arial, Helvetica, sans-serif;
  
